body{
    text-align: center;
}

header {
    background: #660066;
    position: fixed;
    z-index: 1;
    width: 100%;
}

header .navbar {
    padding: 0 100px;
}

a.nav-link {
    color: #fff;
}

.principal {
    padding: 5% 5%;
}

.principal hr {
    border: 1px solid gray;
    width: 20%;
    margin: 0;
    text-align: center;
}

.navbar-brand {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: left;
    font-size: 40px;
}
.navbar-brand:hover {
    color: #fff;
}

.parte1 {
    background-image: url('../img/perfil.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: grid;
    justify-content: center;
    align-items: end;
}

.texto {
    font-family: 'Oswald', sans-serif;
    font-size: 5em;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    width: 350px;
}

.yo-soy {    
    font-weight: 300;    
}

.texto hr {
    border: 1px solid #fff;
    width: 100%;
    margin: 0;
}

.nombre {
    font-weight: 700;
}

#trabajos-realizados {
    background-color: #660066;
    padding: 1em;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

#trabajos-realizados, hr {
    border: 1px solid #fff;
    width: 100%;
    margin: 0;
}

footer {
    background-color: #660066;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    font-size: 40px;
    padding: 2% 10% 2% 15%;
}

.footer, a {
    color: #ffffff;
    margin: 0px;
    position: relative;
}